#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12' style='height:23px'>
				</div>
			</div>
		</div>
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')


<script type='text/javascript' src='$!{conf.html.cdn}js/protobuf.js/6.8.0/protobuf.min.js'></script>

<script type='text/javascript'>

function exec(root, user){

  var RequestProtobuf = root.lookupType('gws.RequestProtobuf');
  var ResponseProtobuf = root.lookupType('gws.ResponseProtobuf');
  var UserProtobuf = user.lookupType('gws.model.UserProtobuf');

  var _user = UserProtobuf.create({
    userPass: '123321',
    userName: '猫一八'
  });

  var message = RequestProtobuf.create({
    version: 101,
    method: 1,
    seqId: Math.random() * 1000,
    timestamp: new Date().getTime(),
    data: UserProtobuf.encode(_user).finish()
  });

  var buffer = RequestProtobuf.encode(message).finish();
  console.log(buffer);
  console.log(RequestProtobuf.decode(buffer));

  var socket = new WebSocket('ws://127.0.0.1/s/68/');
  socket.binaryType = 'arraybuffer';

  socket.onopen = function(evt){
    console.log(evt);
    socket.send(buffer);
  };

  socket.onmessage = function(evt){
    var data = evt.data;
    var type = typeof data;
    if(type === 'string'){
      // todo
    } else if(type === 'object'){
      if(data instanceof Blob){

        (function(){
          var reader = new FileReader();
          reader.addEventListener('loadend', function(){
            var bytes = reader.result;
            var message = proto.WSMessage.deserializeBinary(bytes);
          });
          reader.readAsArrayBuffer(data);
        })();

      } else if(data instanceof ArrayBuffer){

        (function(){
          var buffer = ResponseProtobuf.decode(protobuf.util.newBuffer(data));
          console.log(buffer);
          console.log(UserProtobuf.decode(protobuf.util.newBuffer(buffer.data)));
        })();
      }
    }

    socket.close();
  };

  socket.onclose = function(evt){
    console.log('client notified socket has closed.', evt);
  };
}

$(function(){

  var arr = [
    protobuf.load('/assets/protobuf/method.proto'),
    protobuf.load('/assets/protobuf/model.user.proto')
  ];

  Promise.all(arr).then(function (values){
    exec(values[0], values[1]);
  }).catch(function(){
    console.error(arguments);
  });

});

</script>

	</body>
</html>
