<script src='$!{conf.html.cdn}js/ace/1.1.2/assets/js/fuelux/fuelux.spinner.min.js'></script>
#set($doc=$data.goods)
<form id='frm' role='form' class='form-horizontal' onsubmit='return push();'>
	<input type='hidden' name='id' id='frm_id' value='$!doc.id'>

	<div class='control-group'>
		<label class='control-label'>商品名称</label>

		<div class='controls'>
			<input type='text' class='input-large' name='goods_name' id='frm_goods_name' value='$!doc.goods_name' />
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label'>商品描述</label>

		<div class='controls'>
			<input type='text' class='input-large' name='goods_desc' id='frm_goods_desc' value='$!doc.goods_desc' />
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label'>游戏币</label>

		<div class='controls'>
			<input type='text' class='input-large' name='game_currency' id='frm_game_currency' value='$!doc.game_currency' />
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label'>人民币</label>

		<div class='controls'>
			<input type='text' class='input-large' name='cost' id='frm_cost' value='$!doc.cost' />
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label'>支付平台ID</label>

		<div class='controls'>
			<input type='text' class='input-large' name='payment_id' id='frm_payment_id' value='$!doc.payment_id' />
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label'>一次性</label>

		<div class='controls'>
			<select name='disposable' id='frm_disposable'>
				<option value='1' #if(1 == $!doc.disposable)selected#end />是
				<option value='0' #if(0 == $!doc.disposable)selected#end />否
			</select>
		</div>
	</div>

	<div class='control-group'>
		<label class='control-label'>间隔时间（小时）</label>

		<div class='controls'>
			<input type='text' class='input-large' name='interval_time' id='frm_interval_time' value='$!doc.interval_time' />
		</div>
	</div>

	<div class='form-actions'>
		<button class='btn btn-info' type='submit'>
			<i class='icon-ok bigger-110'></i>
			提交
		</button>

		&nbsp; &nbsp;
		<button class='btn' type='reset'>
			<i class='icon-undo bigger-110'></i>
			重置
		</button>
	</div>
</form>
<script>
$(function(){
  $('#frm_interval_time').ace_spinner({
    value: #defVal($!doc.interval_time, 0),
    min: 0,
    max: 10000,
    step: 1,
    icon_up: 'icon-plus',
    icon_down: 'icon-minus',
    btn_up_class: 'btn-success' ,
    btn_down_class: 'btn-danger'
  });

  $('#frm_cost').ace_spinner({
    value: #defVal($!doc.cost, 0),
    min: 0,
    max: 10000,
    step: 100,
    icon_up: 'icon-plus',
    icon_down: 'icon-minus',
    btn_up_class: 'btn-success' ,
    btn_down_class: 'btn-danger'
  });

  $('#frm_game_currency').ace_spinner({
    value: #defVal($!doc.game_currency, 0),
    min: 0,
    max: 10000,
    step: 100,
    icon_up: 'icon-plus',
    icon_down: 'icon-minus',
    btn_up_class: 'btn-success' ,
    btn_down_class: 'btn-danger'
  });
})
</script>