#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>

    <input type='button' id='login' value='login'><p></p>
    <input type='button' id='shot' value='shot'><p></p>
    <input type='button' id='logout' value='logout'><p></p>

		#parse('_pagelet/js.html')

<script type='text/javascript'>

$(function(){

  var socket;

  $('#logout').click(function(){
    socket.close();
  });

  $('#shot').click(function(){
    var p = {
      version: 101,
      method: 1,
      seqId: Math.random() * 1000,
      timestamp: new Date().getTime(),
      data: JSON.stringify({
        user_name: '八一猫',
        user_pass: '123456'
      })
    };
    socket.send(JSON.stringify(p));
  });

  $('#login').click(function(){

    socket = new WebSocket('ws://127.0.0.1/s/68/');

    socket.onerror = function(evt){
      console.error(evt);
    };

    socket.onopen = function(evt){

      socket.onmessage = function(evt){
        var data = evt.data;
        var type = typeof data;

        var protocal = JSON.parse(data);
        console.log(protocal);
        var login = JSON.parse(protocal.data);
        console.log(login.user_name);

      };

      socket.onclose = function(evt){
        console.log('client notified socket has closed.', evt);
      };

      var p = {
        version: 101,
        method: 1,
        seqId: Math.random() * 1000,
        timestamp: new Date().getTime(),
        data: JSON.stringify({
          user_name: '猫一八',
          user_pass: '654321'
        })
      };
      socket.send(JSON.stringify(p));
    };
  });

})

</script>

	</body>
</html>
